@charset "UTF-8";


.app
{
  display:grid; grid-template-areas: "aside body" "aside body" "aside body"; grid-template-columns: minmax(80px, 80px) auto;
  height:100vh;
}

.app__body
{
 grid-area:body; background:lightgreen; display:grid; grid-template-areas: "header" "main" "footer";
 grid-template-rows: 60px calc(100vh - 60px) auto;
}

.structor--grid
{
 background:yellow; display:grid; grid-template-columns: repeat(16, 70px); justify-content: center; padding:15px;
}

@media (max-width:1250px)
{
  .structor--grid
  {
    grid-template-columns: repeat(12, 70px);
  }
}
